.container {

    
    display: block;
    box-sizing: border-box;
    border:10px;
   align-items: center;
    align-content: center;
    width: 50%;
    padding-left: 50px;
    height: 5px;
    
    
    
    
}

.nav {
    display: flex;
    width: 85%;
    height: 415px;
    padding-left: 55px;
    
    

}