.header {
    font-size: 16px;
    font-weight: 700;

}

.container {
    background-color: rgb(65, 150, 164);
    color: white;
    width:80%;
    padding: 20px;
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 105px;
    margin-right: 16px;

}